<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">


    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListaJuegosServlet</servlet-name>
        <servlet-class>control.ListaJuegosServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>control.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>VerPerfilServlet</servlet-name>
        <servlet-class>control.VerPerfilServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>control.CerrarSesionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VerPerfilServlet</servlet-name>
        <url-pattern>/VerPerfilServlet.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ListaJuegosServlet</servlet-name>
        <url-pattern>/ListaJuegosServlet.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet.do</url-pattern>
    </servlet-mapping>


</web-app>